{
  "plugins": [
    "babel-plugin-transform-typescript-metadata",
    [
      "@babel/plugin-proposal-decorators",
      {
        "version": "2018-09",
        "decoratorsBeforeExport": true
      }
    ],
    ["@babel/plugin-proposal-class-properties"],
    ["@babel/plugin-transform-typescript"]
  ],
  "presets": ["@babel/preset-typescript"],
  "assumptions": {
    "setPublicClassFields": true
  }
}
